.btn {
  &-rules {
    background-color: unset;
    border: 1px solid $header-outline;
    position: absolute;
    right: 0;
    bottom: 0;
    color: $header-outline;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      background-color: white;
    }
  }

  &-again {
    background-color: white;
    color: $dark-text;
    padding: 0.8em;
    border-radius: 10px;
    outline: unset;
    border: 0;
    letter-spacing: 0.1em;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

@media screen and (max-width: $tablet-breakPoint) {
  .btn {
    &-rules {
      // right: -150px;
      bottom: 0;
    }
  }
}

@media screen and (max-width: $mobile-breakPoint) {
  .btn {
    &-rules {
      left: 50%;
      bottom: 0;
      right: unset;
      transform: translate(-50%, 50%);
    }
  }
}
