html {
  font-family: $font-family;
  font-weight: $font-weight-600;
}

body {
  background: linear-gradient($radial-gradient-start, $radial-gradient-end);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.GameContainer {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  height: 90%;
  // border: 1px solid green;
}

@media screen and (max-width: $tablet-breakPoint) {
  .GameContainer {
    width: 80%;
    // border: 2px solid red;
  }
}

@media screen and (max-width: $mobile-breakPoint) {
  .GameContainer {
    width: 90%;
    // border: 2px solid red;
  }
}